/TP1/nbproject/private/
/TP1/dist/
/TP1/build/
/Helloworld/nbproject/private/
/Helloworld/build/
/TP2/nbproject/private/
/TP2/dist/
/TP2/build/
/Helloworld/dist/
/TP3/nbproject/private/
/TP3/dist/
/TP3/build/
